@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "Helvetica Neue", Arial, sans-serif;
}
